*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: auto;
   background-color: #0056b3;
}
#title{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
}
.box{
   width: 90vh;
}
.control{
   display: grid;
   gap: 10px;
}
